* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: #50eaf3;
    text-decoration: none;
}

a:hover {
    color: #2d8d92;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #111;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
}

#cameo {
    position: absolute;
    top: 0; right: 0;
    z-index: 1;
    width: fit-content;
    height: 100vh;
    transform: scaleX(-1);
    --webkit-transform: scaleX(-1);
    --mox-transform: scaleX(-1);
}

#model-container {
    position: absolute;
    top: 0; right: 0;
    z-index: 2;
}

.landmark {
    display: block;
    position: absolute;
    top: 0; left: 0;
    /* transition: all 0.1s linear; */
    /* width: 5px; */
    /* height: 5px; */
    border: #f00 solid 2px;
    border-radius: 50%;
    z-index: 100;
}

#info {
    position: absolute;
    top: 0; left: 0;
    width: 20vw;
    padding: 20px;
    text-align: center;
    p {
        margin: 20px 0;
    }
}